1. Prerequisites
Please download and install Anaconda (Individual Edition) - 64-Bit Graphical Installer (with Python 3.X) before proceeding
https://www.anaconda.com/products/individual


2. Before you run
There's 2 Methods in this guide so please read carefully

2.1. Method ONE (School guide's method)
Open Anaconda Prompt (Anaconda 3) as “Administrator”.
Type “pip install streamlit” and install (est. 1 min).
Type “pip install tensorflow” and install (est. 5-10 mins).
Type “pip install opencv-python” and install (est. 1 min).
Now go to 3.1

2.2. Method TWO (My way)
I'm assuming you have unzipped the folder CN345 as you are already reading this text.
Just click on "SETUP.bat" Windows Batch File and let it run until the console automatically closes 
Now go to 3.2



3. How to run Chinese Number Gesture 3-4-5 classification app  

3.1. Method ONE
Open Anaconda Prompt (Anaconda 3) as “Administrator”.
Now copy the directory this text file is in, and replace <dir here> in the below text with it  
cd /d <dir here>
for example if the directory is “C:\Python\ADT345”
type “cd /d C:\Python\ADT345” in the console
type “streamlit run ADT345_app.py”
Now go to 4.1

3.2. Method TWO
Last step was quite simple eh?
Now just click on "RUN 3-4-5 classification app.bat" and let it run
Now go to 4.2


4. How to run real-time Chinese Number Gesture 3-4-5 classification app  

4.1. Method ONE
Open Anaconda Prompt (Anaconda 3) as “Administrator”.
Now copy the directory this text file is in, and replace <dir here> in the below text with it  
cd /d <dir here>
for example if the directory is “C:\Python\CN345”
type “cd /d C:\Python\CN345” in the console
type “streamlit run detect.py”

4.2. Method TWO
Last step was also simple eh?
Now just click on "RUN real-time 3-4-5 classification app.bat" and let it run